<h1>Recipe Details</h1>

<h3>Recipe Name: <%= @recipe.name %></h3>

<div>
    <h4>Details</h4>
    <ol>
        <li>Complexity: <%= @recipe.complexity %></li>
        <li>Genre: <%= @recipe.genre %></li>
    </ol>

    <h4>Ingredients</h4>
    <ul>
        <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
        <% end %>
    </ul>

    <h5>Total Cost: <%= @recipe.total_cost %></h5>

    <h5>Missing something? Add an ingredient to this recipe:</h5>
    <%= form_with url: "/recipes/#{@recipe.id}", method: :post, local: true do |form|%>
        <div>
            <%= form.label :name, "Ingredient" %>
            <%= form.text_area :name %>
        </div>
        <div>
            <%= form.submit "Add Ingredient" %>
        </div>
        <% if flash[:error]%>
            <div>
                <%= flash[:error] %>
            </div>
        <% end %>
    <% end %>
</div>